@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


  @media screen and (max-width: 576px) {
    .my-img {
        width: 10vw;
        height: 10vh;
    }
  }

* {
    font-family: "Montserrat", sans-serif;
}

:root {
    --myTitle: #8C281F;
    --myParagraphs: #222222;
    --my-bg-primario: #BF7245;
    --my-bg-secondario: #3B4F8C;
    --my-color-white: #ffffff;
    --hover-items: #ffd2ce;
}

.logo-sito {
    font-size: 3rem;
    color: var(--myTitle);
}

.loghi-color {
    color: var(--myTitle);
}

:active.nav-link i{
    color: var(--my-color-white);
}

:active.nav-link{
    color: var(--my-color-white);
    transition: unset;
}

.logo-name {
    font-size: 2.5rem;
    font-weight: bolder;
}

.navigazione {
    background-color: var(--my-color-white);
}

:hover.items-nav {
    border-radius: 10px;
    background-color: var(--hover-items);
}

:active.items-nav {
    border-radius: 10px;
    background-color: var(--myTitle);
    color: white;
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: var(--hover-items);
    --bs-dropdown-link-active-bg: var(--myTitle);
    --bs-dropdown-link-active-color: var(--my-color-white);
}

:active.dropdown-menu i{
    color: var(--my-color-white);
}

:active.navbar-nav{
    --bs-nav-link-disabled-color: var(--my-color-white);
}

:active.navbar {
    --bs-navbar-disabled-color: var(--my-color-white);
    --bs-navbar-active-color: var(--my-color-white);
}

.my-img {
    background-image: url(../img/house-1477041_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.my-img-text {
    display: none;
}

:hover.my-img .my-img-text {
    backdrop-filter: blur(6px);
    width: 100%;
    color: black;
    display: inline-block;
    animation: fadeInLeft;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 1s;
}




