@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

:root {
    --myTitle: #8C281F;
    --myParagraphs: #222222;
    --my-bg-primario: #BF7245;
    --my-bg-secondario: #3B4F8C;
    --my-color-white: #ffffff;
    --hover-items:  #fce8e5;
}

.logo {
    font-size: 3rem;
    color: var(--myTitle);
}

.loghi {
    color: var(--myTitle);
}

.logo-name {
    font-size: 2.5rem;
    font-weight: bolder;
}

.navigazione {
    background-color: var(--my-color-white);
}

:hover.items-nav {
    border-radius: 10px;
    background-color: var(--hover-items);
}

.dropdown-menu {

    --bs-dropdown-link-hover-bg: var(--hover-items);
}

